<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lebango.mapper.CardMapper" >
    
	<select id="getByUser" parameterType="int" resultType="com.lebango.bean.Card">
		SELECT 
			* 
		FROM 
			cards 
		WHERE 
			user_id = #{user_id} 
	</select>
   
    <select id="getAll" resultType="com.lebango.bean.Card">
		SELECT 
			* 
		FROM 
			cards
	</select>
	
	<insert id="insert" parameterType="com.lebango.bean.Card" >
        INSERT INTO
        		cards 
        		(user_id, card_id, card_number, swift_code, type, bank_name, bank_address, card_owner_name, transaction_code, 
        		created_at, updated_at)
        VALUES 
        		( #{user_id}, #{card_id}, #{card_number}, #{swift_code}, #{type}, #{bank_name}, #{bank_address}, 
        		#{card_owner_name}, #{transaction_code}, #{created_at}, #{updated_at})
    </insert>
	
	<update id="update" parameterType="com.lebango.bean.Card" >
        UPDATE 
   			cards
   		SET 
   			user_id = #{user_id}, card_id = #{card_id}, card_number = #{card_number}, swift_code = #{swift_code}, type = #{type},
   			 bank_name = #{bank_name}, bank_address = #{bank_address}, card_owner_name = #{card_owner_name}, transaction_code = #{transaction_code}, updated_at = #{updated_at}
  		WHERE
  			id = #{id}
    </update>
    
    <delete id="delete" parameterType="com.lebango.bean.Card" >
    		DELETE FROM
    			cards
    		WHERE
    			id = #{id}
    </delete>
</mapper>